
 
.dropdownSize{
  transform-origin: 78.2656px -4.30469px;
      top: 302px;
      left: 81px;
      opacity: 2;
      height: 238px;
      z-index: 600;
      transform: none;
      min-width: 206px;
}